# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
* List popular languages for Data Science
* List popular libraries for Data Science
* Example of evaluating in Phyton

Some of the popular languages that Data Scientists use are:
1. Phyton
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. PyTorch


|Data Science Tools|
-----------------------------
| Jupyter Notebook |
-----------------------------
| Rstudio |
-----------------------------
|GitHub|
-----------------------------


### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers:

print ((3*4)+5)

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

print (200/60)

3.3333333333333335

## Author
Tsagan-Mandzhiev Timur